---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":"19.99","card_number":4242424242424242,"cvv":123,"expiration_month":"01","expiration_year":"2024","zip_code":"10100"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=64146941c4fe1666945e648cf429c0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d277046e1b3387f0d3e72e0341b3ae9b"
    body:
      encoding: UTF-8
      string: '{"token":"e11d7fdbfcb3f7b34d795e3ba7dcaf","success":true,"error_code":null}'
  recorded_at: Sun, 23 Dec 2018 16:54:06 GMT
recorded_with: VCR 4.0.0
