---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":"19.99","card_number":4242424242424242,"cvv":123,"expiration_month":"01","expiration_year":"2024","zip_code":"10100"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=64146941c4fe1666945e648cf429c0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27245f4478420994c3671c15d2505b78"
    body:
      encoding: UTF-8
      string: '{"token":"0ac1415216f3ab6e95dbc9ef155380","success":true,"error_code":null}'
  recorded_at: Sun, 23 Dec 2018 16:55:21 GMT
recorded_with: VCR 4.0.0
