---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":"19.99","token":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=64146941c4fe1666945e648cf429c0
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":null,"success":false,"error_code":1000005}'
  recorded_at: Sun, 23 Dec 2018 16:57:07 GMT
recorded_with: VCR 4.0.0
